#container div {
    display: flex;
    padding: 0; 
    margin: 0;
    font-size: 0;
}

#container div div {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.colored {
    background-color: black;
}